div.list > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;

  > li {
    border-bottom: solid 1px #2C3E50;
    min-height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 10px;
    overflow: hidden;
    height: 40px;
    -webkit-transition: .4s ease;

    &.clicked {
      height: 81px;
      -webkit-transition: .4s ease;
    }

    > div {
      background-color: rgb(39, 105, 148);
      margin-left: -10px;
      height: 41px;

      i {
        width: 25% !important;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        -webkit-transition: .4s ease;

        &:hover {
          -webkit-transition: .4s ease;
        }

        &.share:hover {
          color: #4385F5;
        }

        &.folder:hover {
          color: #109D59;
        }

        &.remove:hover {
          color: #DC4437;
        }

        &.web:hover {
          color: #FCBE1F;
        }
      }
    }

    > ul.meta {
      display: inline;
      list-style: none;

      > li {
        display: inline;
        float: right;
        width: 60px;
        height: 40px;
        overflow: hidden
      }
    }


    &:last-child {
      border-bottom: none;
    }
  }
}
